@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;700&display=swap');



#bit{
  
  width: 450px;
  place-items: center;
  font-family: 'Josefin Sans', sans-serif;
  background-color: rgb(226, 223, 223);
  border-radius: 4px;
  display: inline-block;
}



a{
  color:rgb(230, 104, 104);
  font-size: 15px;
  text-decoration: none;
}

.buttonRec {

  font-size: 10px;
  color:black;
  background-color: rgb(224, 136, 136);
  font-family: 'Josefin Sans', sans-serif;
  border-radius: 5px;
  margin-bottom: 10px;
 

}