h1{
    text-align:center;
}

h3{
    text-align: center;
}

input{
    width: 200px;
}

.recordContainer {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;

}

button {
    background: none;
    border: none;
}