.card{
    background-color: rgb(235, 230, 230);
    padding:15px;
    text-align:center;
    
}

dt {
    font-weight: 200;
 
}

dd {
    margin-bottom: 15px;
    margin-left: 30%;
    margin-right:30%;
}

.linkButton{
    background-color: gray;
    border: thin black solid;
    border-radius: 5px;
    width: 20%;
    margin-right: 40%;
    margin-left: 40%;
}