.studentContainer {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  grid-gap: 50px;
  margin: 40px;
  justify-items:center;
}

h1{
  text-align: center;
}