@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;700&display=swap');
.NavBar {
    display: relative;
    top: 101px;
    background-color:rgb(73, 64, 64);
    padding:10px;
    text-align: center;
    color: green;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  .NavBar-link {
    background-color:black;
    padding:0 20px;
    color: green;
    font-family: 'Josefin Sans', sans-serif;
}
  
 