@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;700&display=swap');

#student {
  position: absolute;
  top:200px;
  font-family: 'Josefin Sans', sans-serif;
  
  font-size: 40px;

}

.form-group {

  text-align: center;
  
}

input {
  font-size: 20px;
  margin: 4px;
  font-family: 'Josefin Sans', sans-serif;

}

.container {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  margin-top:50px;
}

.button {
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
  padding: 5px;
  margin: 10px;
  background-color:pink;
  border-radius: 5px;
}
